<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>savvy suds</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/full.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h1>savvy suds</h1>
              <p class="lead">beer recommendations, courtesy of 15,000 beer nerds</p>
              <p>made with tlc by
                <a href="http://www.linkedin.com/in/lukearmistead">luke armistead</a>
                with
                <a href="http://www.thebeerexchange.io">the beer exchange</a>
              </br>
              <a href="http://www.github.com/lukearmistead/savvysuds">look under the hood</a>
              </p>

              <ul class="list-unstyled">
                  <li></li>
              </ul>
              <!-- Search bar -->
              <div class="input-group">
                <form method="post" action="recommend">
                <input id="user-beer1" type="text" class="form-control typeahead" name="beer_input1" placeholder="enter your favorite beer here...">
                <input id="user-beer1-id" type="hidden" name="beer_input1_id">
              </br>
                <input id="user-beer2" type="text" class="form-control typeahead" name="beer_input2" placeholder="and another here...">
                <input id="user-beer2-id" type="hidden" name="beer_input2_id">
                </br>
                <input id="user-beer3" type="text" class="form-control typeahead" name="beer_input3" placeholder="one more here.">
                <input id="user-beer3-id" type="hidden" name="beer_input3_id">
                  <br><br>
                  <input type=submit>
                  <!-- </span> -->
                </input>
                </form>
              </div>
          </div>

      </div>
    </div>

    {% if recommend %}
    <div class="container">
      <div class="col-lg-12 text-center">
      <p class="lead">try these!</p>
      </div>
      {{beer_recs|safe}}
    </div>
    {% endif %}
    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- tyepahead JavaScript -->
    <script src="../static/js/typeahead.bundle.js"></script>

    <script>
    //typeahead
    var beer_list = new Bloodhound({
      // the JSON key to search through
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('beer_info'),
      // tokenizes the user input (I think)
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      // tells bloodhound where the data lives (might use prefetch for commonly used stuff)
      // remote: {
      //   url: "{{ url_for('static', filename='assets/beers.json') }}",
      // }
      prefetch: {
      url: '{{ url_for('static', filename='assets/beers.json') }}'
      }
    });

    $('#user-beer1').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'beer_list',
      // JSON key of thing to display
      displayKey: 'beer_info', // can be a function - return gets displayed
      source: beer_list
    }).bind('typeahead:selected', function(obj, datum, name) {
      var idField = $('#user-beer1-id');
      idField.val(datum.id);
    });

    $('#user-beer2').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'beer_list',
      // JSON key of thing to display
      displayKey: 'beer_info', // can be a function - return gets displayed
      source: beer_list
    }).bind('typeahead:selected', function(obj, datum, name) {
      var idField = $('#user-beer2-id');
      idField.val(datum.id);
    });

    $('#user-beer3').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'beer_list',
      // JSON key of thing to display
      displayKey: 'beer_info', // can be a function - return gets displayed
      source: beer_list
    }).bind('typeahead:selected', function(obj, datum, name) {
      var idField = $('#user-beer3-id');
      idField.val(datum.id);
    });
    </script>
</body>

</html>
